@charset "utf-8";
/* reset */
body,div,ul,li,h1,h2,h3,h4,h5,h6,input,button,textarea,p,blockquote,th,td{margin: 0;padding: 0;}
body{font: 16px/1 Tahoma,Helvetica,Arial,"\5b8b\4f53",sans-serif;}
img{border: none;}
li{list-style: none;}
a{text-decoration: none;}
input{outline: none; -webkit-appearance: none;}